@import"base";

.nav{
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 50px;
  padding: 3px 0;
  background-color: $primary-color;
  opacity: 0.2;
  display: flex;
  justify-content: space-between;
}
.opacNav{
  opacity: 1;
  height:60px;
  font-size: 1.2em;
  padding-top: 8px;
}
.opacSubNav{
  opacity: 1 !important;
}
.logo{
  margin-left: 15px;
  font-size:1.5em;
  font-family: 'Shadows Into Light', cursive;
  padding:9px 10px 0 10px;
  border-radius: 8px;
}
#smMenu{
  display: none;
}
ul{
  list-style: none;
  display: flex;
  margin: 0;
  li{
    display: inline-block;
    a{
      display:block;
      font-family: 'Ubuntu', sans-serif;
      font-size:1.2em;
      border-radius: 8px;
      color:$secondary-color;
      margin-right: 10px;
      padding:10px 10px 10px 10px;
    }
    a:hover{
      background-color: $third-color;
    }
  }
}
.subMenu{
  display:none;
}
@media screen and (min-width: 0px) and (max-width: 735px){
  .bigMenu{
    display: none;
  }
  #smMenu{
    display: block;
  }
  .subMenu{
    display: none;
    position:fixed;
    top:50px;
    right: 0px;
    width: 200px;
    opacity: 0.2;
    background-color: $primary-color;
    z-index: 100;
  }
  ol{
    list-style: none;
    display:block;
    padding: 0px;
    margin-bottom: 0px;
    li{
      display: block;
      text-align: center;
      padding:5px;
      a{
        display:block;
        font-family: 'Ubuntu', sans-serif;
        font-size:1.4em;
        height: 34px;
        padding-top: 5px;
        border-radius: 8px;
        background-color:$secondary-color;
        color: #333;
      }
    }
  }
}
.intro{
  position: relative;
  background: url('../img/intro-small.jpg') no-repeat center 0px;
  height:427px;
  padding: 150px 50px 50px 50px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  .textIntro{
       font-weight: 500;
       display: inline-block;
       width: 100%;
       text-align: center;
       font-size: 1.2em;
       line-height: 1.5em;  
       letter-spacing: 1px;
       color:#333;
       h2{
         font-weight: lighter;
       }
  }
  .button{
    max-width: 200px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .intro{
    height:683px;
    background-image: url("../img/introMed1.jpg");
    padding: 260px 50px 50px 50px;
    .textIntro{
      font-size: 2em;
    }
    .button{max-width: 300px;}
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .intro{
    height:960px;
    background-image: url("../img/introMed2.jpg");
    padding: 320px 90px 50px 90px;
    .textIntro{
      font-size: 2.9em;
    }
    .button{max-width: 400px;}
  }
}
@media screen and (min-width: 1441px) {
  .intro{
    height:1280px;
    background-image: url("../img/introBig.jpg");
    background-color: $secondary-color;
    padding: 500px 90px 50px 90px;
    .textIntro{
      font-size: 3.4em;
    }
    .button{max-width: 500px;}
  }
}




.about{
  background-color: $third-color;
  color: $secondary-color;
  padding-bottom:20px;
}
.flex{
  display: flex;
  flex-wrap:wrap;
}
.element{
  display: flex;
  width: 50%;
}
.coffee{
  width: 50%;
}

.skills-section{
  padding: 15px;
}
.webdev,
.responsive,
.coffe{
  padding: 8px;
  text-align: justify;
}
.promos{
  font-size: 70px;
  height: 100px;
  width: 100px;
  text-align: center;
  padding:15px 0;
  border-radius: 50px;
  color:$third-color;
  background-color: $secondary-color;
  margin: 0 auto;
}
.promos-text{
  padding: 0px 8px;
}
.coffee>.promos{
  width: 180px;
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .element,.coffee{
    width: 100%;
  }
}
@media screen and (min-width: 0px) and (max-width: 640px) {
  .element{
    display: block;
  }
  .webdev,
  .responsive{
    width: 100%;
  }
}
.portfolio-section{
  padding:15px;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
  background-color:$secondary-color;
}
.portfolio{
  margin-top:30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skills{
  margin-top:30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact-section{
  padding:25px 15px 25px 15px;
  background-color: $third-color;
  color: $secondary-color;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,1);
  box-shadow: 0px 0px 0px 4px rgba(0,0,0,1);
}
.contact{
  margin: 0 auto;
  max-width: 600px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}
fieldset{
  border-width: 0;
}
.antibot{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
input,
textarea{
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.input{
  margin-top:20px;
  padding: 10px;
  border-radius:6px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color:333;
}
.calculation{
  width: 40px;
}
.send {
    width:127px;
    background-color: $primary-color;
    color: $secondary-color;
    font-weight: bold;
    border:none;
    margin-top:20px;
    cursor:pointer;
}
.send:hover {
	    opacity:.9;
}
input:focus, textarea:focus {
    border:1px solid #97d6eb;
}
.w100{
  display: block;
  width: 100%;
}
textarea{
  align: left;
}
.form-success{
  background-color:#6cbf40;
  padding:10px;
  font-size:15px;
  color:#ffffff;
  line-height:1.4em;
  border-radius: 6px;
}

.form-error{
   background-color:#ff6600;
   padding:10px;font-size:15px;
   color:#ffffff;
   margin-bottom:15px;
   line-height:1.4em;
   border-radius: 6px;
}
.button {
    width: 100%;
    background-color: $primary-color;
    color: $secondary-color;
    padding: 14px 20px;
    margin: 8px auto 0px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    letter-spacing: 2px;
}
footer{
  max-width: 1100px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  padding:6px 10px;
  font-size: 1.2em;
  a{
    display: block;
    height:65px;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #333;
  }
}
.copy{
  height:65px;
  padding: 20px 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  border-radius: 6px;
}
.fb{width: 100px; font-size: 1.5em;}
.fb:hover{
  background-color: #3b5998;
  color:white;
}
.gmail{width: 100px; font-size: 1.5em;}
.gmail:hover{
  background-color: #d34836;
  color:white;
}
