*, *:before, *:after {
  box-sizing: border-box; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.positioner {
  max-width: 970px;
  margin: 0px auto; }

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 1.5em;
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #333; }

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center; }

article {
  padding: 15px 20px 15px 20px;
  text-align: justify; }

p {
  text-indent: 40px; }

input::-moz-focus-inner {
  border: 0; }

input,
a {
  outline: 0;
  text-decoration: none; }

a:hover {
  color: #02889a; }

.project-wrap {
  display: block;
  position: relative;
  width: 220px;
  height: 230px;
  padding: 6px 8px 0px 8px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid grey;
  background-color: white; }
  .project-wrap .project {
    height: 190px; }
  .project-wrap h2 {
    font-size: 1.7em;
    margin-bottom: 1.5em; }
  .project-wrap h3 {
    margin: 0px; }

.skill-wrap {
  display: block;
  position: relative;
  width: 200px;
  height: 160px;
  padding: 130px 10px 0px 10px; }

.lvl {
  height: 26px;
  width: 180px;
  border: 2px solid #030303;
  border-radius: 16px; }

.lvl > p {
  font-size: 1em;
  color: black;
  position: absolute;
  top: 130px;
  left: 40px;
  margin: 0px; }

.progression {
  height: 100%;
  border-radius: 24px;
  background-color: #81BE6A; }

.htmlcss {
  background: url("../img/htmlcss.png") no-repeat top; }
  .htmlcss .progression {
    width: 60%; }

.js {
  background: url("../img/js.png") no-repeat top; }
  .js .progression {
    width: 40%; }

.php {
  background: url("../img/php.png") no-repeat top; }
  .php .progression {
    width: 40%; }

.jquery {
  background: url("../img/jQuery.png") no-repeat center center; }
  .jquery .progression {
    width: 20%; }

.bs {
  background: url("../img/bs.png") no-repeat center center; }
  .bs .progression {
    width: 20%; }

.mysql {
  background: url("../img/mysql.png") no-repeat center center; }
  .mysql .progression {
    width: 20%; }

.nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 50px;
  padding: 3px 0;
  background-color: #02889a;
  opacity: 0.2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.opacNav {
  opacity: 1;
  height: 60px;
  font-size: 1.2em;
  padding-top: 8px; }

.opacSubNav {
  opacity: 1 !important; }

.logo {
  margin-left: 15px;
  font-size: 1.5em;
  font-family: 'Shadows Into Light', cursive;
  padding: 9px 10px 0 10px;
  border-radius: 8px; }

#smMenu {
  display: none; }

ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }
  ul li {
    display: inline-block; }
    ul li a {
      display: block;
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.2em;
      border-radius: 8px;
      color: #E4E0C3;
      margin-right: 10px;
      padding: 10px 10px 10px 10px; }
    ul li a:hover {
      background-color: #2A4143; }

.subMenu {
  display: none; }

@media screen and (min-width: 0px) and (max-width: 735px) {
  .bigMenu {
    display: none; }
  #smMenu {
    display: block; }
  .subMenu {
    display: none;
    position: fixed;
    top: 50px;
    right: 0px;
    width: 200px;
    opacity: 0.2;
    background-color: #02889a;
    z-index: 100; }
  ol {
    list-style: none;
    display: block;
    padding: 0px;
    margin-bottom: 0px; }
    ol li {
      display: block;
      text-align: center;
      padding: 5px; }
      ol li a {
        display: block;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.4em;
        height: 34px;
        padding-top: 5px;
        border-radius: 8px;
        background-color: #E4E0C3;
        color: #333; } }

.intro {
  position: relative;
  background: url("../img/intro-small.jpg") no-repeat center 0px;
  height: 427px;
  padding: 150px 50px 50px 50px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75); }
  .intro .textIntro {
    font-weight: 500;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: 1px;
    color: #333; }
    .intro .textIntro h2 {
      font-weight: lighter; }
  .intro .button {
    max-width: 200px;
    margin-top: 0px; }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .intro {
    height: 683px;
    background-image: url("../img/introMed1.jpg");
    padding: 260px 50px 50px 50px; }
    .intro .textIntro {
      font-size: 2em; }
    .intro .button {
      max-width: 300px; } }

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .intro {
    height: 960px;
    background-image: url("../img/introMed2.jpg");
    padding: 320px 90px 50px 90px; }
    .intro .textIntro {
      font-size: 2.9em; }
    .intro .button {
      max-width: 400px; } }

@media screen and (min-width: 1441px) {
  .intro {
    height: 1280px;
    background-image: url("../img/introBig.jpg");
    background-color: #E4E0C3;
    padding: 500px 90px 50px 90px; }
    .intro .textIntro {
      font-size: 3.4em; }
    .intro .button {
      max-width: 500px; } }

.about {
  background-color: #2A4143;
  color: #E4E0C3;
  padding-bottom: 20px; }

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.element {
  display: -ms-flexbox;
  display: flex;
  width: 50%; }

.coffee {
  width: 50%; }

.skills-section {
  padding: 15px; }

.webdev,
.responsive,
.coffe {
  padding: 8px;
  text-align: justify; }

.promos {
  font-size: 70px;
  height: 100px;
  width: 100px;
  text-align: center;
  padding: 15px 0;
  border-radius: 50px;
  color: #2A4143;
  background-color: #E4E0C3;
  margin: 0 auto; }

.promos-text {
  padding: 0px 8px; }

.coffee > .promos {
  width: 180px; }

@media screen and (min-width: 0px) and (max-width: 800px) {
  .element, .coffee {
    width: 100%; } }

@media screen and (min-width: 0px) and (max-width: 640px) {
  .element {
    display: block; }
  .webdev,
  .responsive {
    width: 100%; } }

.portfolio-section {
  padding: 15px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
  background-color: #E4E0C3; }

.portfolio {
  margin-top: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.skills {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.contact-section {
  padding: 25px 15px 25px 15px;
  background-color: #2A4143;
  color: #E4E0C3;
  box-shadow: 0px 0px 0px 4px black; }

.contact {
  margin: 0 auto;
  max-width: 600px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px; }

fieldset {
  border-width: 0; }

.antibot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

input,
textarea {
  box-sizing: border-box; }

.input {
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: 333; }

.calculation {
  width: 40px; }

.send {
  width: 127px;
  background-color: #02889a;
  color: #E4E0C3;
  font-weight: bold;
  border: none;
  margin-top: 20px;
  cursor: pointer; }

.send:hover {
  opacity: .9; }

input:focus, textarea:focus {
  border: 1px solid #97d6eb; }

.w100 {
  display: block;
  width: 100%; }

textarea {
  align: left; }

.form-success {
  background-color: #6cbf40;
  padding: 10px;
  font-size: 15px;
  color: #ffffff;
  line-height: 1.4em;
  border-radius: 6px; }

.form-error {
  background-color: #ff6600;
  padding: 10px;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 15px;
  line-height: 1.4em;
  border-radius: 6px; }

.button {
  width: 100%;
  background-color: #02889a;
  color: #E4E0C3;
  padding: 14px 20px;
  margin: 8px auto 0px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  letter-spacing: 2px; }

footer {
  max-width: 1100px;
  margin: 0px auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 6px 10px;
  font-size: 1.2em; }
  footer a {
    display: block;
    height: 65px;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #333; }

.copy {
  height: 65px;
  padding: 20px 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  border-radius: 6px; }

.fb {
  width: 100px;
  font-size: 1.5em; }

.fb:hover {
  background-color: #3b5998;
  color: white; }

.gmail {
  width: 100px;
  font-size: 1.5em; }

.gmail:hover {
  background-color: #d34836;
  color: white; }
